streamlit==1.53.1
pandas<3
numpy<2
torch==2.0.1

aksara==1.14
openai-whisper

nltk
yt-dlp
youtube-transcript-api
youtube-comment-downloader
openpyxl
requests
vaderSentiment
deep-translator
textblob
stanza
